body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    font-weight: thin;
}

:root {
    --border: 1.5px solid #888;
    --text-col: #333;
    --accent-col: hsl(214, 100%, 50%);
}

button[type="button"] {
    /* font-family: "Alagard", "Iosevka"; */
    font-size: 1em;
    padding: 0.25em 0.5em;
    border: none;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
}
