<link rel="stylesheet" href="/static/styles/nav.css">
<nav class="desktop-only">
    <div class="nav-flexbox">
        <div class="nav-item"><a href="/index.html"><img src="/static/images/icon_high_res.png" alt="icon" class="nav-icon"></a></div>
        <div class="nav-item"><a href="/index.html">home</a></div>
        <div style="cursor:default;">|</div>
        <div class="nav-item"><a href="#">projects</a></div>
        <div style="cursor:default;">|</div>
        <div class="nav-item"><a href="#">about</a></div>
    </div>
</nav>

<nav class="mobile-only">
    <div class="nav-flexbox">
        <div class="nav-item nav-flexbox" style="width:100%; flex-direction:row; justify-content: space-between; align-items: center;">
            <a href="/"><img src="/static/images/icon_high_res.png" alt="icon" class="nav-icon"></a>
            <a href="javascript:void(0);" onclick="toggleHidden('nav-links-content')"><i class="fa fa-bars"></i></a>
        </div>
        
        <div class="nav-links" id="nav-links-content" style="display:none;">
            <div class="nav-item"><a href="/index.html">| home</a></div>
            <div class="nav-item"><a href="#">| projects</a></div>
            <div class="nav-item"><a href="#">| about</a></div>
        </div>
    </div>
</nav>