div.nav-flexbox {
    display: flex;
    justify-content:space-evenly;   
    align-items:center;
    background-color: var(--body-dark); 
    color: var(--body-text);
}

div.nav-item {
    padding-top:1%;
    padding-bottom:1%;
    font-size: 250%;
}

div.nav-item:hover * {
    cursor:pointer;
    font-weight:700;
}

nav.desktop-only div.nav-item:has(img):hover {
    cursor:pointer;
    /* filter:brightness(60%); */
    filter:saturate(500%);
}

nav.mobile-only div.nav-item img:hover {
    filter:saturate(500%);
}

nav.mobile-only div.nav-item *:hover {
    cursor:pointer;
    text-shadow: 6px 6px 0px #cddae533;
}

img.nav-icon {
    width:50px;
    height:auto;
}

nav a {
    text-decoration: none;
    color:var(--body-text);
}

nav.mobile-only div.nav-flexbox {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
nav.mobile-only div.nav-item {
    width:99vw;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:2.5%;
}

nav.mobile-only div.nav-item:has(img) {
    padding-top:5%;
}

nav.mobile-only div#nav-links-content {
    font-size:70%;
    display: none;
}